html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    padding: 0 10px;
    height: 100%;
    background: black;
    margin: 1rem 0 0 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  h1 {
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 40px;
  }
  
  #container {
    text-align: center;
    margin: 0;
  }
  
  #qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
  }
  
  #btn-scan-qr {
    cursor: pointer;
  }
  
  #btn-scan-qr img {
    height: 10em;
    padding: 15px;
    margin: 15px;
    background: white;
  }
  
  .topContainer{
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 3%;
  }

  #content{
    color:white
  }

  .buttonContainer{
    width: 100%;
    display: grid;
    place-items: center;
  }

  .buttonContainer button{ 
    display: none;
  }
  #logo{
    width: 60px;
    height: auto;

  }

  button{
    background-color: rgb(153, 204, 50);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    padding: 15px 50px ;
    
  }
  .data-row{
    text-align: center;
  }

  .bg-valid{
    background: url("static/check_mark.svg");
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
  }
  .validity-icon{
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 10px;
  }

  .drink{
    width: 100%;
    color: whitesmoke;
    padding-bottom: 10px;
  }